<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-5">
          <div class="input-group">
            <input type="text" class="form-control"
            v-model="input"
            v-on:keyup.enter="addString(input)">
            <div class="input-group-append">
              <button class="btn btn-info" v-on:click="addString(input)">
                <span class="fa fa-plus"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-5">
          <div class="card">
            <div class="card-header">
              Palavras
            </div>
            <div class="d-flex flex-column">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" v-for="word in arrayOfWords" v-bind:key="word.key">
                  <div class="row">
                    <div class="col-md">
                      {{ word.key }} | {{ word.value }}
                    </div>
                    <div class="col-md text-right">
                      <button class="btn btn-danger" v-on:click="removeWord(word)"><span class="fa fa-trash"></span></button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import 'bootstrap/dist/css/bootstrap.css'
  import 'font-awesome/css/font-awesome.css'

  export default {
    name: 'app',
    data: function() {
      return {
        input: "",
        counter: 0,
        arrayOfWords: [],
      };
    },
    methods: {
      addString(input) {
        this.arrayOfWords.push({ key: this.counter++, value: input });
        this.input = "";
      },
      removeWord(input) {
        this.arrayOfWords.splice(this.arrayOfWords.indexOf(input), 1);
      }
    }
  }
</script>

<style lang="scss">
</style>
